//
   Created by Ricardo on 24/05/2016.
h1
    a#AngularJS_Generator_Basic_Proyect_BETA_0
    | AngularJS Generator Basic Proyect (BETA)

h1 Hello World...!!!
pre.
h3
    a#Version_18
    | Version
p 0.0.1
ul
    li
        a(href='http://sass-lang.com/') Sass
        |                - compilador CSS
    li
        a(href='http://gulpjs.com') Gulp
        |                - automatizador de tareas
    li
        a(href='http://nodejs.org') node.js
        |             - evented I/O for the backend
    li
        a(href='http://jade-lang.com') Jade
        |                - compilador de plantillas HTML
    li
        a(href='http://jquery.com') jQuery
        |              - libreria para manejo del DOM
    li
        a(href='http://angularjs.org') AngularJS
        |           - HTML enhanced for web apps!
    li
        a(href='https://material.angularjs.org/latest/') Angular-Material
        |    - framework CSS MATERIAL DESING

    li jose ricardo pedraza
h2
    a#License_97
    | License
p ISC
